<section class="content">
    <summary items="ctrl.items"></summary>

    <div class="options-container">
        <sorting sorting="ctrl.sorting"></sorting>
        <only-date only-date="ctrl.onlyDate"></only-date>
        <filter filter="ctrl.filter"></filter>
    </div>

    <div class="item-list-container">
        <item-list items="ctrl.items" sorting="ctrl.sorting" only-date="ctrl.onlyDate" filter="ctrl.filter"></item-list>
    </div>

    <new-item></new-item>
</section>
