@import "variables";

.content {
  min-height: 100%;
  border-left: 1px solid @c-gray;
  border-right: 1px solid @c-gray;

  .options-container {
      padding: 10px;
  }

  .item-list-container {
    border-top: 1px solid @c-gray;
  }
}
