@import "variables";

.elements {
    display: block;

    .width-form {
        padding: 10px;
        border-bottom: 1px solid @c-gray;
    }

    .button-container {
        display: flex;
        padding: 10px;

        button {
            width: 100%;
        }

        button:hover {
            background-color: red;
        }

        border-top: 1px solid @c-gray;
        border-bottom: 1px solid @c-gray;
    }

    .items {
        padding: 10px;
        border-bottom: 1px solid @c-gray;
        display: flex;
        align-items: center;

        .items-content {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .square {
            flex-shrink: 0;
            height: 10px;
            width: 10px;
            background: green;
            margin: 10px;
        }
    }
    
    .items:hover {
        background-color: red;
    }
}

