<section class="elements">
    <form class="width-form" ng-submit="ctrl.setWidth()">
        <label>Width: <input type="number" ng-model="ctrl.model.width" min="100" max="600" step="1"></label>
        <button type="submit">Set</button>
    </form>

    <div class="button-container">
        <button>button</button>
    </div>

    <div class="items">
        <div class="items-content">item 1, item 2, item 3, item 1, item 2, item 3, item 1, item 2, item 3</div>
    </div>

    <div class="items">
        <div class="items-content">item 1, item 2, item 3</div>
        <div class="square"></div>
        <div class="square"></div>
    </div>

    <div class="items">
        <div class="items-content">item 1, item 2, item 3</div>
    </div>
</section>
