<section class="item-list">
    <div class="item" ng-repeat="item in ctrl.displayItems track by item.id" ng-click="ctrl.selectItem(item)" ng-class="{ 'selected': ctrl.selectedItem === item }">
        <div>Title: {{item.title}}</div>
        <div>Date: {{item.date | date : ("dd/MM/yyyy" + (ctrl.onlyDate ? "" : " HH:mm:ss"))}}</div>
    </div>
</section>
