<article class="app">
    <div class="elements-container">
        <elements></elements>
    </div>

    <div class="content-container">
        <content></content>
    </div>

    <div class="sidebar-container">
        <sidebar></sidebar>
    </div>
</article>
