@import "variables";

.sidebar {
    min-height: 100%;
    width: @sidebar-width;

    .selected-item {
        padding: 10px;
    }

    .tags-header {
        border-top: 1px solid @c-gray;
        border-bottom: 1px solid @c-gray;
        padding: 10px;
    }

    .tag {
        padding: 10px;
        position: relative;
        border-bottom: 1px solid @c-gray;

        .remove-tag {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    .add-tag {
        padding: 10px;
    }
}
