<section class="sidebar">
    <div class="selected-item">
        Selected: {{ ctrl.selectedItem ? ctrl.selectedItem.title : "none" }}
    </div>

    <div class="tags" ng-if="ctrl.selectedItem">
        <div class="tags-header">
            Tags:
        </div>

        <div class="tag" ng-repeat="tag in ctrl.selectedItem.tags track by $index">
            {{tag}}

            <button class="remove-tag" ng-click="ctrl.removeTag(tag)">X</button>
        </div>

        <div class="add-tag">
            <input ng-model="ctrl.newTag" name="new-tag" />
            <button ng-click="ctrl.addTag()" ng-disabled="!ctrl.newTag">Add</button>
        </div>
    </div>
</section>
