<section class="sorting">
    Order:

    <select ng-model="ctrl.sorting" name="sorting">
        <option value="{{ctrl.sortingEnum.title}}">Title</option>
        <option value="{{ctrl.sortingEnum.date}}">Date</option>
    </select>
</section>
