<section class="summary">
    <div>Summary</div>
    
    <div>
        Last item: {{ ctrl.lastItem ? ctrl.lastItem.title : "none" }}
    </div>

    <div>
        Tags: <br>

        <span class="tag" ng-repeat="tag in ctrl.tags">{{tag}}</span>
    </div>
</section>
